@page
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Player</title>
    <style>
               body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000;
        }
        video {
            max-width: 100%;
            max-height: 100%;
        }
        #controls {
            margin-top: 10px;
        }
        button {
            padding: 5px 10px;
            margin-right: 5px;
        }
    </style>
</head>
<body>

    <video id="videoPlayer" autoplay controls playsinline muted="muted" preload="metadata">
        <source src="~/video/media.mp4" type="video/mp4">
    </video>
</body>
</html>